@import 'firsttimeuser';

.inputBox {
  display: flex;
  flex-direction: column;

  margin-top: 0.5rem;

  &__guideText {
    margin: 0.35rem 0;
    font-size: 1.05rem;
  }

  &__typeText {
    padding: 0.45rem 0.3rem;
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    font-size: 1.15rem;
    transition: all 0.3s;

    &:focus {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }
}