.uploadPhoto {

  .modal-wrapper {
    width: 35rem;
  }

  .dropzone {
    position: relative;
    height: 15rem;

    border: 5px dashed gray;

    &__uploader,
    &-description {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &__uploader {
      width: 100%;
      outline: none;
      cursor: pointer;
      opacity: 0;
    }

    &-description {
      text-align: center;
      cursor: pointer;
      pointer-events: none;

      i {
        position: absolute;
        left: 50%;
        top: 40%;
        font-size: 3rem;
        transform: translate(-50%, -50%);
      }

      h3 {
        position: absolute;
        left: 50%;
        top: 60%;
        width: 100%;
        font-size: 1.2rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  .upload {
    margin-top: 1.5rem;

    &-body {
      max-height: 15rem;
    }

    // fix blurry bugs
    .ps__scrollbar-x-rail,
    .ps__scrollbar-y-rail {
      transition: background-color .2s linear,height .2s linear,width .2s ease-in-out,border-radius .2s ease-in-out;
    }

    &-preview {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0.5rem 0;

      &__thumbnail {
        width: 5rem;
        margin-right: 1rem;
      }
      
      &__name {
        flex:1;

        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__progress {
        margin-left: 1rem;
      }
    }
  }
}