.photo {
  display: inline-block;

  position: relative;
  margin-right: 0.7rem;
  height: 15rem;
  overflow: hidden;

  &:hover img {
    transform: scale(1.5);
  }

  img {
    display: block;
    height: 100%;
    width: auto;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s ease-out;
  }
}