.uploader-enter-active,
.uploader-leave-active {
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);  
}
.uploader-enter,
.uploader-leave-to {
  opacity: 0;
  transform: translateY(-10rem);
}

.uploader {

  &,
  &__backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 3;
  }

  &-wrapper {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 5;
    
    padding: 0.75rem;
    min-width: 25rem;
    background-color: white;
    box-shadow: $shadow-2;
  }

  &-header {
    padding: 0.5rem 1rem;

    h3 {
      padding: 0.5rem 0 1.5rem 0;
      border-bottom: 1px solid #dddddd;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &-body {
    display: flex;
  }

  .dropzone {
    position: relative;
    min-width: 25rem;
    height: 20rem;

    margin: 1rem;

    background-color: #fafafa;
    border: 2px dashed #dddddd;

    &__uploader,
    &-description {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &__uploader {
      width: 100%;
      outline: none;
      cursor: pointer;
      opacity: 0;
    }

    &-description {
      text-align: center;
      cursor: pointer;
      pointer-events: none;

      i {
        position: absolute;
        left: 50%;
        top: 40%;
        font-size: 3rem;
        transform: translate(-50%, -50%);
      }

      h3 {
        position: absolute;
        left: 50%;
        top: 60%;
        width: 100%;
        font-size: 1.2rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  .uploading {
    width: 25rem;

    &__status {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 1rem;
      font-size: 1.2rem;
    }

    &-body {
      padding: 0 1rem 0 0.5rem;
      max-height: 19rem;
    }

    &-preview {
      display: flex;

      padding: 1rem 0.5rem;
      border-bottom: 1px solid #dddddd;

      &__thumbnail {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        object-position: center;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;

        margin-left: 1rem;
        overflow: hidden;
      }

      &__name {
        display: flex;
        align-items: center;     

        span {
          flex: 1;
          
          overflow: hidden;
          line-height: 1.5;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        i {
          padding: 0.3rem 0.5rem;
          cursor: pointer;
        }
      }

      &__progress {
        margin: 0.5rem 0;
        width: 100%;
        height: 0.25rem;
        background-color: #dddddd;
        border-radius: 1rem;

        span {
          display: block;
          width: 0%;
          height: 100%;
          background-color: #3ab6fb;
          border-radius: 1rem;
          transition: width 0.2s;
        }
      }

      &__size {
        display: flex;
        justify-content: space-between;
      }
    }
    // fix blurry bugs
    .ps__scrollbar-y-rail {
      opacity: 1;
      transition: none;
    }
  }
}