// transition css
.modal-enter-active,
.modal-leave-active{
  transition: all 0.75s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.modal-enter,
.modal-leave-to {
  opacity: 0;
}
.modal-enter .modal-wrapper,
.modal-leave-to .modal-wrapper{
  transform: translate(-50%, -50%) scale(1.2);
}

// template css
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);

  &-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 25rem;
    padding: 1.2rem 2.5rem;
    background-color: white;
    border-radius: 0.3rem;
    transform: translate(-50%,-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s;
  }

  &-header {
    position: relative;
    padding: 0.5rem 0 1.7rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;

    &__title {
      padding: 1rem 0 0.7rem 0;
      font-size: 1.6rem;
    }

    &__subtitle {
      color: rgba(0,0,0,0.4);
      font-size: 0.95rem;
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 50%;
    color: gray;
    cursor: pointer;
    transform: translateY(-70%);
  }

  &-content {
    padding: 0.7rem;
  }

  &-footer {
    display: flex;

    padding: 1rem 0 0.7rem 0;

    button {
      padding: 0.8rem;
      font-size: 0.95rem;
    }

    .cancel {
      margin-right: 0.3rem;
    }

    .submit {
      flex: 1;
    }
  }
}
